<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804739771602-qp3rmpt9ugeerqidieofclk08srfcckj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804739771602-qp3rmpt9ugeerqidieofclk08srfcckj</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHF-E2hhgbgb7SfPOm9G3tVIbnvkqgHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804739771602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bittsave.app</string>
	<key>PROJECT_ID</key>
	<string>bittsave-9d375</string>
	<key>STORAGE_BUCKET</key>
	<string>bittsave-9d375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804739771602:ios:a9ebf2d293a0ffc441d10b</string>
</dict>
</plist>